body {
	margin: 0;
	background-color: aliceblue;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
}

main {
	position: relative;
	border: 5px solid darkslategrey;
	border-radius: 10px;
	overflow: hidden;
	display: grid;
	grid-template-columns: repeat(8, auto);
}
main div{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
}
main div img{
	height: 80%;
}

.co-ordinates {
	position: absolute;
	top: 0%;
	left: -7%;
	z-index: -1;
}
.vertical-names{
	height: 100%;
	font-size: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.horizontal-names{
	margin-left: 8%;
	margin-top: 2%;
	width: 100%;
	font-size: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.dot::after{
	content: '';
	height: 20%;
	width: 20%;
	background-color: lightgrey;
	border-radius: 50%;
}
.buttons {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 1rem;
}
.buttons h2{
	width: 25%;
}
button.undo {
	margin-top: .6rem;
	width: 100px;
	margin-bottom: 1rem;
	padding: 5px 10px;
	background-color: blueviolet;
	color: white;
	border: 0;
	border-radius: 5px;
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: 2px;
	cursor: pointer;
}
button.reset {
	margin-top: .6rem;
	width: 100px;
	margin-left: 1%;
	margin-bottom: 1rem;
	padding: 5px 10px;
	background-color: indianred;
	color: white;
	border: 0;
	border-radius: 5px;
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: 2px;
	cursor: pointer;
}